{% extends "base.html" %}

{% block title %}{{ request.user }}{% endblock %}

{% block body %}
<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                          <small> Group:{{ group.community.name }} <a href="{% url 'mm:addgoods' group.community.number %}"><i class="fa fa-plus-square"> Add Goods </i></a></small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-info"></i> GroupId: {{ group.community.number }} Code: {{ group.community.code }}
                            </li>
                        </ol>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-lg-12">
                        <h2>Doing</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Sale</th>
                                        <th>People</th>
                                        <th>Time</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for gd in doingGoods %}
                                        <tr>
                                            <td>{{ gd.name }}</td>
                                            <td>{{ gd.price }}</td>
                                            <td>{{ gd.offprice }}</td>
                                            <td>{{ gd.groupProfile.nick }}</td>
                                            <td>{{ gd.time }}</td>
                                            <td><a href="{% url 'mm:detailGoods' gd.id%}">go</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>History</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Sale</th>
                                        <th>People</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for gd in historyGoods %}
                                        <tr>
                                            <td>{{ gd.name }}</td>
                                            <td>{{ gd.price }}</td>
                                            <td>{{ gd.offprice }}</td>
                                            <td>{{ gd.groupProfile.nick }}</td>
                                            <td>{{ gd.time }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
{% endblock %}