{% extends "base-nologin.html" %}
{% block style %}
 <style>
        .block-update-card {
          height: 100%;
          border: 1px #FFFFFF solid;
          width: 320px;
          float: left;
          margin-left: 30px;
          margin-top: 10px;
          padding: 10px;
          box-shadow: 1px 1px 8px #d8d8d8;
          background-color: #FFFFFF;
        }
        .block-update-card .h-status {
          width: 100%;
          height: 7px;
          background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
        }
        .block-update-card .v-status {
          width: 5px;
          height: 80px;
          float: left;
          margin-right: 5px;
          background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
        }
        .block-update-card .update-card-MDimentions {
          width: 40px;
          height: 40px;
        }
        .block-update-card .update-card-body {
          margin-top: 10px;
          margin-left: 5px;
        }
        .block-update-card .update-card-body h4 {
          color: #737373;
          font-weight: bold;
          font-size: 13px;
        }
        .block-update-card .update-card-body p {
          color: #737373;
          font-size: 12px;
        }
        .block-update-card .card-action-pellet {
          padding: 5px;
        }
        .block-update-card .card-action-pellet div {
          margin-right: 10px;
          font-size: 15px;
          cursor: pointer;
          color: #dddddd;
        }
        .block-update-card .card-action-pellet div:hover {
          color: #999999;
        }
        .block-update-card .card-bottom-status {
          color: #a9a9aa;
          font-weight: bold;
          font-size: 14px;
          border-top: #e0e0e0 1px solid;
          padding-top: 5px;
          margin: 0px;
        }
        .block-update-card .card-bottom-status:hover {
          background-color: #dd4b39;
          color: #FFFFFF;
          cursor: pointer;
        }

        /*
        Creating a block for social media buttons
        */
        .card-body-social {
          font-size: 30px;
          margin-top: 10px;
        }
        .card-body-social .git {
          color: black;
          cursor: pointer;
          margin-left: 10px;
        }
        .card-body-social .twitter {
          color: #19C4FF;
          cursor: pointer;
          margin-left: 10px;
        }
        .card-body-social .google-plus {
          color: #DD4B39;
          cursor: pointer;
          margin-left: 10px;
        }
        .card-body-social .facebook {
          color: #49649F;
          cursor: pointer;
          margin-left: 10px;
        }
        .card-body-social .linkedin {
          color: #007BB6;
          cursor: pointer;
          margin-left: 10px;
        }

        .music-card {
          background-color: green;
        }
</style>
{% endblock %}

{% block body%}
<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        {% for g in communitys %}
                        <div class="block-update-card">
                              <a class="pull-left" href="#">
                                <img class="media-object update-card-MDimentions" src="{{ g.user.socialUser.getImage }}" alt="...">
                              </a>
                              <div class="media-body update-card-body">
                                <h4 class="media-heading">群主：{{ g.user.groupProfile.nick }}</h4>
                                <h4 class="media-heading">群名称：{{ g.name }}</h4>
                                <div class="btn-toolbar" role="toolbar">
                                  <div class="btn-group"><h4 class="media-heading">群QQ号:{{ g.number }}</h4></div>
                                </div>
                              </div>
                              <div class="card-action-pellet btn-toolbar pull-right" role="toolbar">
                                  <span class="btn btn-success">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span class="community"  data-id="{{ g.id }}">加入群</span>
                                </span>

                              </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

<div class="modal fade" id="add_group_dialog" tabindex="-1" role="dialog" aria-labelledby="add_group_dialog_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="add_group_dialog_label">加入群</h4>
          </div>
          <div class="modal-body">
            <form id="community-form" method="post" action="/community/join/" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-3 control-label">暗号</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="code" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">昵称</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="nick" />
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-md-5 col-md-offset-3">
                        <button type="submit" class="btn btn-default">保存</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}

<script language="JavaScript">
        $(document).ready(function() {
            $(".community").click(function(){ // Click to only happen on announce links
                $('#community-form').attr('action', "/community/join/"+$(this).data('id')); //this fails silently
                $('#community-form').get(0).setAttribute('action',"/community/join/"+$(this).data('id')); //this works
                $('#community-form').bootstrapValidator('updateOption', "nick",'remote','url','/community/'+$(this).data('id')+'/check/');
                $('#add_group_dialog').modal('show');
            });

            $('#community-form').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    code :{
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            }
                        }
                    },
                    nick :{
                        trigger: 'blur',
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            },
                            remote: {
                                message: '昵称存在了',
                                url: '/community/check/'
                            }

                        }
                    }
                }
            });

            {% if groupTrigger %}
               $('#community-form').attr('action', "/community/join/{{ groupTrigger }}"); //this fails silently
               $('#community-form').get(0).setAttribute('action',"/community/join/{{ groupTrigger }}"); //this works
               $('#community-form').bootstrapValidator('updateOption', "nick",'remote','url','/community/{{ groupTrigger }}/check/');
               $('#add_group_dialog').modal('show');
            {% endif %}
        });
</script>

{% endblock %}