{% extends "base.html" %}
{% load tags %}

{% block body %}
<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                          <small> 群名:{{ group.community.name }}</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-info"></i> 群号: {{ group.community.number }} 暗号: {{ group.community.code }}
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>统计参数</h2>
                        <form id="order-form" method="post" action="{% url 'mm:statisticsOrder' goods.id%}" class="form-horizontal">
                            {% csrf_token %}
                            <input type="hidden" name="goodsId" value="{{ goods.id }}"/>
                            <div class="form-group">
                                    <label class="col-md-2 control-label">横向参数:</label>
                                    <div class="col-md-7">
                                        {% for ct in categorys %}
                                              <label class="btn btn-primary">
                                                <input type="checkbox" {% if ct.category.id in x_axis %} checked {% endif %} name="x" value="{{ ct.category.id }}"> {{ ct.category.name }}
                                              </label>
                                        {% endfor %}
                                    </div>
                            </div>
                            <div class="form-group">
                                        <label class="col-md-2 control-label">纵向参数:</label>
                                        <div class="col-md-7">
                                          {% for ct in categorys %}
                                              <label class="btn btn-primary">
                                                <input type="checkbox" {% if ct.category.id in y_axis %} checked {% endif %} name="y" value="{{ ct.category.id }}"> {{ ct.category.name }}
                                              </label>
                                          {% endfor %}
                                        </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button type="submit" class="btn btn-default">确定</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>统计结果</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        {% for x in xAxis %}
                                            <th>{{ x }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for y in yAxis %}
                                        <tr>
                                            <td>{{ y }}</td>
                                            {% for x in xAxis %}
                                                <td><a class="statisticsTrigger" data-x="{{ x }}" data-y="{{ y }}"  href="#"  id="grid{{ count.inc }}">{{ hMap|get_item:y|get_item:x|orderlen }}</a></td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



           <div class="row">
                    <div class="col-lg-12" id="detailStatistics">
                        <h2>详细名单</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>用户</th>
                                        {% for ct in categorys %}
                                               <th>{{ ct.category.name }}</th>
                                        {% endfor %}
                                        <th>数量</th>
                                        <th>价钱</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {% for item in  orderByPeople%}
                                         <tr>
                                             <td rowspan="{{ item|length|inc }}">{{ item|nick }}</td>
                                                    {% for order in  item|slice:":1"%}
                                                          {% for oc in  order.categorys%}
                                                              <td>{{ oc.categoryValue.value }}</td>
                                                          {% endfor %}
                                                          <td>{{ order.number }}</td>
                                                    {% endfor %}
                                             <td rowspan="{{ item|length|inc }}">{{ item|totalPrice }}</td>
                                         </tr>
                                         <tr>
                                          {% for order in  item|slice:"1:"%}
                                               <tr>
                                                  {% for oc in  order.categorys%}
                                                      <td>{{ oc.categoryValue.value }}</td>
                                                  {% endfor %}
                                                  <td>{{ order.number }}</td>
                                                </tr>
                                           {% endfor %}
                                         </tr>
                                     {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

    <div class="modal fade" id="modify_number_dialog" tabindex="-1" role="dialog" aria-labelledby="modify_number_dialog_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="modify_number_dialog_label">修改数量</h4>
          </div>
          <div class="modal-body">
            <form id="community-form" method="post" action="" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-3 control-label">数量</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="n" value=""/>
                    </div>
                </div>

                 <div class="form-group">
                    <div class="col-md-5 col-md-offset-3">
                        <button type="submit" class="btn btn-default">保存</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="statistics_group_dialog" tabindex="-1" role="dialog" aria-labelledby="statistics_group_dialog_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="statistics_group_dialog_label">订单列表</h4>
          </div>
          <div class="modal-body">
                <table class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>订单号</th>
                                                                <th>用户</th>
                                                                <th>数量</th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                    </tbody>
                    </table>
          </div>
        </div>
      </div>
    </div>

{% endblock %}


{% block script %}
    <style type="text/css">
        #order-form .btn-primary .form-control-feedback {
            top: 0;
            right: -30px;
        }
    </style>
    <script>
       var categoryCount = 0;
       {% autoescape off %}
            var orderJson = {{ jsonOrder }};
       {% endautoescape %}
       var isOwner = {% if goods.community.user.id == request.user.id or goods.groupProfile.user.id == request.user.id %} true {% else %} false {% endif %}
       $(document).ready(function() {
        $('#order-form')
            .bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    x:{
                        validators: {
                            notEmpty: {
                                message: ''
                            }
                        }
                    },
                    y:{
                        validators: {
                            notEmpty: {
                                message: ''
                            }
                        }
                    }
                }
            });


            $('#community-form')
            .bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    n: {
                        validators: {
                            notEmpty: {
                                message: ''
                            },
                             integer: {
                                message: '数字'
                            }
                        }
                    }
                }
            });

             $(".statisticsTrigger").click(function(e){
                var x = $(this).data("x")
                var y = $(this).data("y")
                 console.log(x)
                 console.log(y)
                 try{
                    $('#statistics_group_dialog .modal-body tbody').empty()
                    var s = ""
                    for(i in orderJson[y][x])
                    {
                        t = orderJson[y][x][i]
                        s =  s + "<tr><td>"+t.id+"</td><td>"+t.groupProfile.nick+"</td><td>"+t.number+"</td>"
                        if (isOwner)
                            s = s + "<td><a href='/order/mdelete/"+ t.id +"'>删除</a></td><td><a href='#' data-id='"+t.id+"' data-number='"+ t.number +"' class='modifyNumber' >修改数量</a></td>"
                        s = s +"</tr>"
                    }
                    $('#statistics_group_dialog .modal-body tbody').append(s)

                    $("#statistics_group_dialog .modifyNumber").click(function(e){
                        var orderId = $(this).data("id")
                        var number = $(this).data("number")
                        $("#community-form").attr("action","/order/modifynum/"+orderId)
                        $("#community-form input[name='n']").val(number)
                        $('#statistics_group_dialog').modal('hide')
                        $('#modify_number_dialog').modal('show')
                    });
                    $('#statistics_group_dialog').modal('show')
                 }catch (err){

                 }

            });

        });
    </script>
{% endblock %}

